<%- include("partials/header");-%>

<body>
    <div class="registerPage">

        <div class="registerForm">
        <img src="https://app.mycaptain.in/assets/media/auth-bg.svg"/>
        <h1>Log In</h1>
        
        <div class="data-div">
            <form action="/update-password" method="POST">              
                
                <input type="text" name="oldPassword" class="phone-num" placeholder="Enter Your Old Password"/>

                <input type="text" name="newPassword" class="password" placeholder="Enter New Password"
                    autoComplete="off"
                />
                <input type="text" name="confirmPassword" class="password" placeholder="Confirm Password"
                    autoComplete="off"
                />
                <p>Don't have an indiaBazar account?
                    <a href="/user/register">
                        <span class="login"> register</span>
                    </a>
                </p>
                <div class="btn-container">
                    <Button class='payment-btn' variant="contained" >
                        <span>Submit</span>
                    </Button> 
                </div> 
            </form>
        </div>
       </div> 
    </div>
</body>